<div class="container mt-10">

    @if (!isRegisterMode) {
    <div style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">
            Come on in to view your matches. All you need to do is just sign up
        </p>
        <div class="text-center">
            <button *ngIf="!accountService.currentUser()" (click)="registerToggle()"
                class="btn btn-primary btn me-2">Register</button>
            <button class="btn btn-info btn me-2" (click)="showLearnMore()">Learn more</button>
        </div>
    </div>
    }@else {
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegistration)="cancelRegisterMode($event)">
                </app-register>
            </div>
        </div>
    </div>
    }

</div>